body {
  font: 400 100%/1.45 "Helvetica", "Bookman Old Style", "Serifa BT";
  margin: 0;
  padding: 0;
}

p,table,td,div {
  font-size: 14px;
}

h1,h2,h3,a.itemDivHeader {
  font-family: Inder, sans-serif;
  font-weight: 400;
}

h1,h2,h3 {
  color: #000;
}

h1,h1 a {
  font-size: 26px;
  line-height: 1.2em;
}

h2 h2 a {
  font-size: 22px;
}

a {
  color: #999;
  text-decoration: none;
}

#header {
  background: #fff url('http://www.presentjakt.se/portalimages/layout/header_bg.jpg') repeat-x 0 0;
  height: 173px;
  border-bottom: 1px solid #CCCCCC;
}

#header-inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#logo {
  display: block;
  float: left;
}

#headerTabs {
  left: 0;
  position: absolute;
  top: 120px;
}

#headerTabs ul {
  margin: 0;
  padding: 0;
}

#headerTabs li {
  display: block;
  float: left;
  border: 1px solid #ccc;
  border-bottom: 0;
  background: #fbfbfb;
  border-radius: 5px 5px 0 0;
  height: 42px;
  margin: 10px 10px 0 0;
  padding: 0;
}

#headerTabs li.active {
  margin-top: 0;
  height: 50px;
  padding-top: 10px;
  background: url(http://www.presentjakt.se/images/tabs/tab_gradient_blue.png) repeat-x #fff;
}

#headerTabs li.active a {
  background: url(http://www.presentjakt.se/portalimages/icons/home.png) no-repeat 10px 10px;
  padding-left: 40px;
}

#headerTabs li a {
  display: block;
  font-family: Inder, sans-serif;
  font-size: 16px;
  color: #000;
  padding: 10px;
}

div.headerImages {
  background: url(../images/top_gifts_new.png) no-repeat;
  position: absolute;
  height: 181px;
  top: 13px;
  right: 80px;
  width: 402px;
}

#allContent {
  margin: 30px auto 0;
  padding: 0;
  width: 960px;
}

#allContent h1 {
  margin-bottom: 20px;
}

div.pageDescription {
  font-size: 16px;
  margin: 0 0 15px;
}

div.footer {
  background: url(http://www.presentjakt.se/images/layout/footer_background.jpg) repeat-x #70737a;
  margin-top: 100px;
  position: relative;
}

div.footer div.footerContent {
  width: 960px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #FFF;
  margin: 0 auto;
}

div.footerIntro {
  float: left;
  width: 500px;
}

div.footerLinks {
  float: right;
  width: 400px;
  text-align: right;
}

div.footer a {
  font-size: 14px;
  color: #FFF;
}

div.footer div.footerContent a:hover {
  text-decoration: underline;
}

div.footerImagesRight {
  background: url(../images/gifts_footer_pile_right_new.png) no-repeat;
  position: absolute;
  top: -100px;
  right: 0;
  width: 145px;
  height: 182px;
}

.stationContainer {
  width: 470px;
  float: left;
  margin-bottom: 30px;
}

.stationContainer:nth-of-type(2n+1) {
  margin-right: 20px;
}

.stationContainer h2 {
  color: #000000;
  display: block;
  font-size: 18px;
  text-decoration: none;
  padding: 12px 0;
}

.stationContainer>img {
  float: left;
  border: 6px solid #FFFFFF;
  box-shadow: 2px 2px 5px #AAAAAA;
}

.stationContainer .stationinfo {
  float: right;
  width: 235px;
}

.stationinfo ul {
  margin: 15px 0;
}

.paginationDiv {
  margin: 20px 0;
  text-align: center;
}

#pagination li {
  border: 0 none;
  display: inline;
  font-size: 11px;
  font-weight: bold;
  margin: 0 2px 0 0;
  padding: 0;
  font-size: 16px;
}

#pagination li a {
  border-radius: 5px;
  padding: 6px 9px;
  border: 1px solid #DEDEDE;
  text-decoration: none;
}

#pagination li.active {
  background: none repeat scroll 0 0 #4BABDF;
  color: #FFFFFF;
  display: inline;
  font-weight: bold;
  padding: 6px 9px;
  border-radius: 5px;
}

table {
  margin: 2em 0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #aaa;
  background-color: #EAF7FF;
}

table th {
  text-align: left;
  font-family: Inder,sans-serif;
  font-size: 16px;
}

table, table th, table td {
  border: 1px solid #ccc;
}

table th, table td {
  padding:15px 12px;
}

table a {
  color: #4babdf;
}

.backButton {
  background: url(http://www.presentjakt.se/portalimages/icons/backbutton.gif) no-repeat left;
  padding-left: 15px;
  margin-bottom: 15px;
  padding-top: 3px;
}

form {
  margin: 1em 0;
}

.form-item {
  margin-bottom: 1em;
}

.form-item label {
  display: inline-block;
  width: 120px;
  font-style: italic;
}

select,option {
  width: 150px;
}

input[type="number"] {
  width: 60px;
}

input[type="submit"] {
  margin-left: 120px;
}